In [1]:
import pandas as pd
import json
from math import cos, asin, sqrt

Lat/Lng data copied from https://www.latlong.net/category/national-parks-236-42.html into a spreadsheet and saved out as a CSV file.

In [2]:
park_coords = pd.read_csv("./Resources/parks_lat_lng.csv")
park_coords

                                         Place Name   Latitude   Longitude
0                             Jackson Hole, WY, USA  43.582767 -110.821999
1          Mojave National Preserve, Kelso, CA, USA  35.141689 -115.510399
2        Joshua Tree National Park, California, USA  33.881866 -115.900650
3           Buffalo National River, St Joe, AR, USA  35.985512  -92.757652
4   Hot Springs National Park, Hot Springs, AR, USA  34.521530  -93.042267
..                                              ...        ...         ...
80            Mount Mitchell State Park, NC, the US  35.768803  -82.306137
81         Mt. Hood National Forest, Oregon, the US  45.454350 -121.933136
82                       Island Park, Idaho, the US  44.429733 -111.440849
83                   Redwood National Park, CA, USA  41.213181 -124.004631
84       Yellowstone National Park, WY, MT, ID, USA  44.423691 -110.588516

[85 rows x 3 columns]

In [3]:
names = []
locations = []
for _, place in park_coords.iterrows():
    names.append(place['Place Name'].split(',',1)[0])
names

['Jackson Hole',
 'Mojave National Preserve',
 'Joshua Tree National Park',
 'Buffalo National River',
 'Hot Springs National Park',
 'Kartchner Caverns State Park',
 'Navajo Nation Reservation',
 'Sipsey Wilderness',
 'Wrangell-St. Elias National Park & Preserve',
 'Lake Clark National Park and Preserve',
 'Katmai National Park and Preserve',
 'Glacier Bay National Park and Preserve',
 'Turtle Mountain',
 'Odiorne Point State Park',
 'Channel Islands National Park',
 'Maplewood State Park',
 'Bear Butte State Park',
 'Okefenokee National Wildlife Refuge',
 'Denali National Park and Preserve',
 'Acadia National Park',
 'Topanga State Park',
 'Gates of the Arctic National Park and Preserve',
 'Kaloko-Honok?hau National Historical Park',
 'Pedernales Falls State Park',
 'Whiskeytown National Recreation Area',
 'Mesa Verde National Park',
 'Arches National Park',
 'Mount Rainier National Park',
 'Kenai Fjords National Park',
 'Anahuac National Wildlife Refuge',
 'Bandelier National Monument',
 'Summit Bechtel Reserve',
 'Yellowstone National Park',
 'Rothrock State Forest',
 'Great Smoky Mountains National Park',
 'Zion National Park',
 'Yosemite National Park',
 'Yellowstone National Park',
 'Haleakal? National Park',
 'Malibu Creek State Park',
 'Manti-La Sal National Forest',
 'Cherry Creek State Park',
 'Kissimmee Prairie Preserve State Park',
 'Garden of Gods',
 'Petrified Forest National Park',
 'Fort Berthold Indian Reservation',
 'Chattahoochee National Forest',
 'Little Sandy National Wildlife Refuge',
 'Siuslaw National Forest',
 'Kings Canyon National Park',
 'Ruffner Mountain Nature Center',
 'Yellowstone National Park',
 'Kings Mountain State Park',
 'Honolulu Watershed Forest Preserve',
 'Oleta River State Park',
 'Grant Park',
 'Wisconsin Interstate State Park',
 'Bridge Creek Wildlife Area',
 'Willamette National Forest',
 'Golden Gate Canyon State Park',
 'William F Hayden Green Mountain Park',
 'Cades Cove',
 'Lantz Farm and Nature Preserve',
 'Myakka State Forest',
 'Lake Eola Park',
 'Gulf State Park',
 'Egypt Valley Wildlife Area',
 'Kennesaw Mountain National Battlefield Park',
 'Shenandoah National Park',
 'Ricketts Glen State Park',
 'El Dorado State Park',
 'Polihale State Park',
 'Lake Wateree State Recreation Area',
 'Kekaha Kai State Park',
 'National Bison Range',
 'Castlewood Canyon State Park',
 'Hillman State Park',
 'Little Big Econ State Forest',
 'Eagle Bluffs Conservation Area',
 'Everglades National Park',
 'Mount Mitchell State Park',
 'Mt. Hood National Forest',
 'Island Park',
 'Redwood National Park',
 'Yellowstone National Park']

In [29]:
park_details = pd.DataFrame(data=names, columns=['name'])
park_details['latitude'] = park_coords['Latitude']
park_details['longitude'] = park_coords['Longitude']
park_details

                         name   latitude   longitude
0                Jackson Hole  43.582767 -110.821999
1    Mojave National Preserve  35.141689 -115.510399
2   Joshua Tree National Park  33.881866 -115.900650
3      Buffalo National River  35.985512  -92.757652
4   Hot Springs National Park  34.521530  -93.042267
..                        ...        ...         ...
80  Mount Mitchell State Park  35.768803  -82.306137
81   Mt. Hood National Forest  45.454350 -121.933136
82                Island Park  44.429733 -111.440849
83      Redwood National Park  41.213181 -124.004631
84  Yellowstone National Park  44.423691 -110.588516

[85 rows x 3 columns]

Weather station data taken from https://www1.ncdc.noaa.gov/pub/data/inventories/MASTER-STN-HIST.TXT (also available as a 3.9Mb zip: https://www1.ncdc.noaa.gov/pub/data/inventories/MASTER-STN-HIST.ZIP).

File was:
* downloaded
* manually processed to remove extraneous columns through the use of Notepad++ column editing,
* a macro was used to remove entries with no WBAN number
* double spaces were converted to commas
* single spaces were converted to commas
* the file saved out again as a CSV
* CSV file imported into Excel
* sorted by WBAN, then by END_DATE (desc)
* lat and lng entries converted to decimal
* time gaps calculated
* changes in position were also calculated, but for our purposes were determined to be insignificant and left out
* file saved out again

In [5]:
stations_hist_df = pd.read_csv("./Resources/wban_station_hist.csv")
stations_hist_df

,wban,start_date,end_date,lat_deg,lat_min,lat_sec,lng_deg,lng_min,lng_sec,dec_lat,dec_lng,time_gap,gap_calc
0,100,19600801,99991231,34,5,59,-93,3,57,34.099722,-93.065833,0,0
1,101,10101,99991231,43,4,1,74,28,59,43.066944,75.450000,0,0
2,102,19580701,99991231,66,58,59,-160,25,59,66.983056,-160.433056,0,0
3,103,19541001,99991231,65,37,1,-168,6,0,65.616944,-168.100000,0,0
4,104,10101,99991231,63,1,1,-154,22,1,63.016944,-154.366944,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23802,96407,20150814,20160129,66,33,43,-159,0,13,66.561944,-159.003611,0,0
23803,96407,20160129,99991231,66,33,43,-159,0,13,66.561944,-159.003611,0,0
23804,96408,20150820,20160129,63,27,7,-150,52,29,63.451944,-150.874722,0,0
23805,96408,20160129,99991231,63,27,7,-150,52,29,63.451944,-150.874722,0,0
23806,96409,20170822,99991231,68,38,54,-149,23,55,68.648333,-149.398611,0,0

### Consolidate rows so we only have 1 per unique wban number.

In [6]:
uniq_wbans = stations_hist_df['wban'].unique()
len(uniq_wbans)

6871

### We'll be keeping rows with the highest end_date, so get the oldest start_dates to use with them.

In [7]:
starts = stations_hist_df.groupby('wban')['start_date'].min()
starts

wban
100      19600801
101         10101
102      19580701
103      19541001
104         10101
           ...
96405    20170729
96406    20140828
96407    20150814
96408    20150820
96409    20170822
Name: start_date, Length: 6871, dtype: int64

In [8]:
# reduce df to 1 row per station: the newest
stations_df = stations_hist_df.drop_duplicates(subset='wban', keep='last')
stations_df

,wban,start_date,end_date,lat_deg,lat_min,lat_sec,lng_deg,lng_min,lng_sec,dec_lat,dec_lng,time_gap,gap_calc
0,100,19600801,99991231,34,5,59,-93,3,57,34.099722,-93.065833,0,0
1,101,10101,99991231,43,4,1,74,28,59,43.066944,75.450000,0,0
2,102,19580701,99991231,66,58,59,-160,25,59,66.983056,-160.433056,0,0
3,103,19541001,99991231,65,37,1,-168,6,0,65.616944,-168.100000,0,0
4,104,10101,99991231,63,1,1,-154,22,1,63.016944,-154.366944,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23798,96405,20170729,99991231,60,28,23,-145,21,15,60.473056,-145.354167,0,0
23801,96406,20160129,99991231,64,30,5,-154,7,47,64.501389,-154.129722,0,0
23803,96407,20160129,99991231,66,33,43,-159,0,13,66.561944,-159.003611,0,0
23805,96408,20160129,99991231,63,27,7,-150,52,29,63.451944,-150.874722,0,0
23806,96409,20170822,99991231,68,38,54,-149,23,55,68.648333,-149.398611,0,0

In [9]:
int(stations_df.loc[23805]['start_date'])

20160129

In [10]:
# replace start_date with oldest start_date
stations_df = stations_df.assign(start_date=starts.values)

In [11]:
int(stations_df.loc[23805]['start_date'])

20150820

### We also want to throw out anything that has a significant time gap (i.e., >= 20000 is guaranteed to be more than 1 year).

In [12]:
stations_df['time_gap'].max()

699689

In [13]:
stations_df.loc[stations_df['time_gap']>=20000]

,wban,start_date,end_date,lat_deg,lat_min,lat_sec,lng_deg,lng_min,lng_sec,dec_lat,dec_lng,time_gap,gap_calc
450,3016,19690911,99991231,39,31,40,-107,43,11,39.527778,-107.719722,119777,0
462,3024,19510501,99991231,35,41,42,-101,23,42,35.695000,-101.395000,250588,250588
694,3122,19530501,99991231,33,48,6,-118,20,31,33.801667,-118.341944,79770,0
761,3145,19600701,99991231,32,39,0,-114,37,0,32.650000,-114.616667,79270,0
888,3181,19730201,99991231,37,38,0,-118,51,0,37.633333,-118.850000,39670,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23725,94976,19721101,99991231,44,27,0,-95,49,0,44.450000,-95.816667,30870,0
23734,94979,19520501,99991231,41,50,0,-90,20,0,41.833333,-90.333333,29621,0
23742,94982,19500401,99991231,41,36,42,-90,34,51,41.611667,-90.580833,100470,-80040324
23766,94988,19680801,99991231,42,6,38,-92,54,58,42.110556,-92.916111,20100,0
23772,94989,19491001,99991231,41,59,26,-93,37,8,41.990556,-93.618889,219903,0

In [14]:
rows = stations_df.loc[stations_df['time_gap']>=20000].index
rows

Int64Index([  450,   462,   694,   761,   888,   928,  1066,  1096,  1142,
             1160,
            ...
            23556, 23593, 23655, 23672, 23685, 23725, 23734, 23742, 23766,
            23772],
           dtype='int64', length=486)

In [15]:
stations_df = stations_df.drop(labels=rows)
stations_df

,wban,start_date,end_date,lat_deg,lat_min,lat_sec,lng_deg,lng_min,lng_sec,dec_lat,dec_lng,time_gap,gap_calc
0,100,19600801,99991231,34,5,59,-93,3,57,34.099722,-93.065833,0,0
1,101,10101,99991231,43,4,1,74,28,59,43.066944,75.450000,0,0
2,102,19580701,99991231,66,58,59,-160,25,59,66.983056,-160.433056,0,0
3,103,19541001,99991231,65,37,1,-168,6,0,65.616944,-168.100000,0,0
4,104,10101,99991231,63,1,1,-154,22,1,63.016944,-154.366944,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23798,96405,20170729,99991231,60,28,23,-145,21,15,60.473056,-145.354167,0,0
23801,96406,20140828,99991231,64,30,5,-154,7,47,64.501389,-154.129722,0,0
23803,96407,20150814,99991231,66,33,43,-159,0,13,66.561944,-159.003611,0,0
23805,96408,20150820,99991231,63,27,7,-150,52,29,63.451944,-150.874722,0,0
23806,96409,20170822,99991231,68,38,54,-149,23,55,68.648333,-149.398611,0,0

In [16]:
stations_df['time_gap'].max()

19971

#### After completing most of the above work, I discovered the HOMR list of WBAN numbers, which would have been just as difficult to parse.  https://www.ncdc.noaa.gov/homr/reports/platforms

### Find Closest Weather Stations to Each Park 
Algorithm was adapated from this answer on StackOverflow:
https://stackoverflow.com/questions/41336756/find-the-closest-latitude-and-longitude

In [17]:
def distance(lat1, lng1, lat2, lng2):
    p = 0.017453292519943295
    a = 0.5 - cos((lat2-lat1)*p)/2 + cos(lat1*p)*cos(lat2*p) * (1-cos((lng2-lng1)*p)) / 2
    return 12742 * asin(sqrt(a))

def closest(coords, park):
    return min(coords, key=lambda stn: distance(park['lat'], park['lng'], stn['lat'], stn['lng']))

### UNFORTUNATELY....
The BigQuery gsod sample is obviously incomplete (it's only a sample), and its data is suspect. First off, there are only results for 2540 WBAN station numbers, whereas we identified 6871 unique stations. Secondly, of those 2540 stations in the sample data, 23 of them representing 62030 rows of data, have invalid WBAN numbers (i.e., numbers below 100).

#### Limit Our List of Stations to Only Those That Are Valid, and Known to Have Data in the Sample

In [18]:
sample_stations = pd.read_csv("./Resources/sample_data_stations.csv")['wban'].values
sample_stations

array([    1,     2,     3, ..., 94999, 96401, 96402])

In [19]:
coords = []
for _, row in stations_df.iterrows():
    if row['wban'] in sample_stations:
        coords.append({'wban': int(row['wban']), 'lat': row['dec_lat'], 'lng': row['dec_lng']})
coords

[{'wban': 107, 'lat': 59.45, 'lng': -157.3330555556},
 {'wban': 108, 'lat': 61.85, 'lng': -165.5669444444},
 {'wban': 109, 'lat': 58.983055555600004, 'lng': -159.05},
 {'wban': 114, 'lat': 48.6, 'lng': -113.1169444444},
 {'wban': 137, 'lat': 36.4219444444, 'lng': -105.29},
 {'wban': 142, 'lat': 37.45, 'lng': -94.73305555559999},
 {'wban': 152, 'lat': 44.933055555600006, 'lng': -73.1},
 {'wban': 155, 'lat': 37.85, 'lng': -76.88305555560001},
 {'wban': 166, 'lat': 30.5, 'lng': -97.9669444444},
 {'wban': 175, 'lat': 32.15, 'lng': -94.85},
 {'wban': 178, 'lat': 40.6169444444, 'lng': -74.25},
 {'wban': 191, 'lat': 33.1830555556, 'lng': -80.0330555556},
 {'wban': 193, 'lat': 33.65, 'lng': -81.6830555556},
 {'wban': 209, 'lat': 33.6, 'lng': -97.7830555556},
 {'wban': 222, 'lat': 38.35, 'lng': -93.68305555559999},
 {'wban': 230, 'lat': 30.395, 'lng': -97.56694444440001},
 {'wban': 231, 'lat': 36.33, 'lng': -77.635},
 {'wban': 255, 'lat': 29.4830555556, 'lng': -93.6330555556},
 {'wban': 265, 'lat': 41.0661111111, 'lng': -86.1819444444},
 {'wban': 274, 'lat': 36.6538888889, 'lng': -83.2180555556},
 {'wban': 275, 'lat': 33.4330555556, 'lng': -88.84888888889999},
 {'wban': 276, 'lat': 31.841111111100002, 'lng': -99.4038888889},
 {'wban': 277, 'lat': 34.6588888889, 'lng': -87.34888888889999},
 {'wban': 303, 'lat': 27.833055555599998, 'lng': -91.98305555559999},
 {'wban': 339, 'lat': 33.2269444444, 'lng': -84.275},
 {'wban': 346, 'lat': 40.9830555556, 'lng': -122.69388888889999},
 {'wban': 348, 'lat': 35.38, 'lng': -86.2461111111},
 {'wban': 355, 'lat': 34.3169444444, 'lng': -84.4169444444},
 {'wban': 370, 'lat': 35.02, 'lng': -76.46},
 {'wban': 3011, 'lat': 37.95, 'lng': -107.9},
 {'wban': 3012, 'lat': 36.45, 'lng': -105.6666666667},
 {'wban': 3013, 'lat': 38.07, 'lng': -102.68805555559999},
 {'wban': 3017, 'lat': 39.832777777800004, 'lng': -104.6575},
 {'wban': 3026, 'lat': 39.2447222222, 'lng': -102.2841666667},
 {'wban': 3027, 'lat': 35.0027777778, 'lng': -105.6627777778},
 {'wban': 3028, 'lat': 37.2833333333, 'lng': -102.6138888889},
 {'wban': 3029, 'lat': 35.6575, 'lng': -109.0613888889},
 {'wban': 3030, 'lat': 36.6816666667, 'lng': -101.5052777778},
 {'wban': 3031, 'lat': 31.9205555556, 'lng': -102.3866666667},
 {'wban': 3032, 'lat': 30.048055555599998, 'lng': -102.2130555556},
 {'wban': 3034, 'lat': 35.145, 'lng': -106.795},
 {'wban': 3035, 'lat': 32.8525, 'lng': -104.4675},
 {'wban': 3038, 'lat': 39.4666666667, 'lng': -106.15},
 {'wban': 3039, 'lat': 37.45, 'lng': -106.8},
 {'wban': 3040, 'lat': 39.2166666667, 'lng': -104.6333333333},
 {'wban': 3041, 'lat': 38.4833333333, 'lng': -106.3166666667},
 {'wban': 3042, 'lat': 37.5, 'lng': -105.1666666667},
 {'wban': 3044, 'lat': 32.2125, 'lng': -101.52138888889999},
 {'wban': 3045, 'lat': 36.4138888889, 'lng': -100.74972222219999},
 {'wban': 3047, 'lat': 31.6219444444, 'lng': -102.8072222222},
 {'wban': 3048, 'lat': 34.3558333333, 'lng': -106.8858333333},
 {'wban': 3049, 'lat': 30.383333333299998, 'lng': -103.6833333333},
 {'wban': 3050, 'lat': 32.6933333333, 'lng': -100.95055555559999},
 {'wban': 3052, 'lat': 35.6130555556, 'lng': -100.9963888889},
 {'wban': 3054, 'lat': 33.9558333333, 'lng': -102.77388888889999},
 {'wban': 3055, 'lat': 36.5991666667, 'lng': -101.595},
 {'wban': 3056, 'lat': 32.675277777800005, 'lng': -102.6544444444},
 {'wban': 3058, 'lat': 31.3825, 'lng': -103.5108333333},
 {'wban': 3059, 'lat': 30.5858333333, 'lng': -100.64861111110001},
 {'wban': 3060, 'lat': 38.5438888889, 'lng': -107.6927777778},
 {'wban': 3061, 'lat': 37.2552777778, 'lng': -108.5036111111},
 {'wban': 3062, 'lat': 35.8583333333, 'lng': -106.52138888889999},
 {'wban': 3063, 'lat': 37.8638888889, 'lng': -103.8225},
 {'wban': 3065, 'lat': 39.9, 'lng': -105.1166666667},
 {'wban': 3067, 'lat': 38.87, 'lng': -100.96277777780001},
 {'wban': 3068, 'lat': 38.7666666667, 'lng': -104.3},
 {'wban': 3069, 'lat': 38.097222222199996, 'lng': -106.1688888889},
 {'wban': 3070, 'lat': 35.8580555556, 'lng': -102.01305555559999},
 {'wban': 3071, 'lat': 32.0363888889, 'lng': -102.10111111110001},
 {'wban': 3072, 'lat': 32.0408333333, 'lng': -100.24944444440001},
 {'wban': 3074, 'lat': 32.6136111111, 'lng': -106.74138888889999},
 {'wban': 3075, 'lat': 36.9352777778, 'lng': -107.00027777780001},
 {'wban': 3076, 'lat': 39.1016666667, 'lng': -108.73527777780001},
 {'wban': 3077, 'lat': 34.8222222222, 'lng': -109.8927777778},
 {'wban': 3078, 'lat': 38.5441666667, 'lng': -102.5025},
 {'wban': 3079, 'lat': 38.0988888889, 'lng': -106.1708333333},
 {'wban': 3080, 'lat': 33.715, 'lng': -108.7772222222},
 {'wban': 3081, 'lat': 37.5175, 'lng': -111.9775},
 {'wban': 3082, 'lat': 33.6475, 'lng': -105.89444444440001},
 {'wban': 3083, 'lat': 39.6552777778, 'lng': -102.6216666667},
 {'wban': 3084, 'lat': 37.7066666667, 'lng': -106.14444444440001},
 {'wban': 3085, 'lat': 32.0094444444, 'lng': -109.3891666667},
 {'wban': 3086, 'lat': 37.3813888889, 'lng': -102.71944444440001},
 {'wban': 3089, 'lat': 38.0386111111, 'lng': -103.6947222222},
 {'wban': 3090, 'lat': 36.6519444444, 'lng': -105.97222222219999},
 {'wban': 3101, 'lat': 34.2638888889, 'lng': -110.0075},
 {'wban': 3102, 'lat': 34.0561111111, 'lng': -117.6002777778},
 {'wban': 3103, 'lat': 35.1441666667, 'lng': -111.66638888889999},
 {'wban': 3104, 'lat': 33.626666666700004, 'lng': -116.15944444440001},
 {'wban': 3109, 'lat': 36.95, 'lng': -116.0833333333},
 {'wban': 3124, 'lat': 31.5883333333, 'lng': -110.3441666667},
 {'wban': 3125, 'lat': 32.8355555556, 'lng': -114.3941666667},
 {'wban': 3129, 'lat': 35.05, 'lng': -118.1666666667},
 {'wban': 3131, 'lat': 32.8158333333, 'lng': -117.1394444444},
 {'wban': 3133, 'lat': 36.95, 'lng': -116.05},
 {'wban': 3143, 'lat': 36.8, 'lng': -116.2666666667},
 {'wban': 3144, 'lat': 32.8341666667, 'lng': -115.5786111111},
 {'wban': 3147, 'lat': 35.2666666667, 'lng': -117.4333333333},
 {'wban': 3148, 'lat': 32.8833333333, 'lng': -112.71666666670001},
 {'wban': 3154, 'lat': 33.3, 'lng': -117.35},
 {'wban': 3157, 'lat': 33.75, 'lng': -118.2333333333},
 {'wban': 3159, 'lat': 34.741111111100004, 'lng': -118.2116666667},
 {'wban': 3160, 'lat': 36.6205555556, 'lng': -116.02777777780001},
 {'wban': 3162, 'lat': 36.9261111111, 'lng': -111.44777777780001},
 {'wban': 3164, 'lat': 32.6261111111, 'lng': -116.46805555559999},
 {'wban': 3166, 'lat': 33.8719444444, 'lng': -117.97888888889999},
 {'wban': 3167, 'lat': 33.9227777778, 'lng': -118.3341666667},
 {'wban': 3170, 'lat': 39.6013888889, 'lng': -116.0055555556},
 {'wban': 3171, 'lat': 33.9519444444, 'lng': -117.4386111111},
 {'wban': 3174, 'lat': 33.803333333299996, 'lng': -118.3397222222},
 {'wban': 3177, 'lat': 33.1280555556, 'lng': -117.2794444444},
 {'wban': 3178, 'lat': 32.5722222222, 'lng': -116.9794444444},
 {'wban': 3179, 'lat': 33.9752777778, 'lng': -117.6361111111},
 {'wban': 3183, 'lat': 35.0666666667, 'lng': -118.15},
 {'wban': 3184, 'lat': 33.6883333333, 'lng': -112.0816666667},
 {'wban': 3185, 'lat': 33.4666666667, 'lng': -111.7333333333},
 {'wban': 3186, 'lat': 33.4166666667, 'lng': -112.3833333333},
 {'wban': 3192, 'lat': 33.6227777778, 'lng': -111.9105555556},
 {'wban': 3195, 'lat': 35.9461111111, 'lng': -112.1547222222},
 {'wban': 3701, 'lat': 36.6655555556, 'lng': -76.32055555560001},
 {'wban': 3702, 'lat': 35.0, 'lng': -77.98166666670001},
 {'wban': 3703, 'lat': 36.0275, 'lng': -76.5669444444},
 {'wban': 3704, 'lat': 36.6866666667, 'lng': -77.4827777778},
 {'wban': 3705, 'lat': 34.6016666667, 'lng': -78.5780555556},
 {'wban': 3706, 'lat': 38.2666666667, 'lng': -77.4491666667},
 {'wban': 3707, 'lat': 37.3575, 'lng': -78.4377777778},
 {'wban': 3708, 'lat': 35.4602777778, 'lng': -77.96472222220001},
 {'wban': 3709, 'lat': 35.6536111111, 'lng': -79.895},
 {'wban': 3710, 'lat': 38.7213888889, 'lng': -77.5152777778},
 {'wban': 3711, 'lat': 36.361388888899995, 'lng': -78.5288888889},
 {'wban': 3712, 'lat': 35.3786111111, 'lng': -78.7336111111},
 {'wban': 3713, 'lat': 35.5408333333, 'lng': -78.3902777778},
 {'wban': 3714, 'lat': 39.0777777778, 'lng': -77.5575},
 {'wban': 3715, 'lat': 38.0097222222, 'lng': -77.97},
 {'wban': 3716, 'lat': 37.6466666667, 'lng': -75.7608333333},
 {'wban': 3717, 'lat': 39.1433333333, 'lng': -78.1444444444},
 {'wban': 3718, 'lat': 38.2469444444, 'lng': -78.0455555556},
 {'wban': 3719, 'lat': 36.6822222222, 'lng': -76.6016666667},
 {'wban': 3720, 'lat': 35.237222222199996, 'lng': -79.3911111111},
 {'wban': 3721, 'lat': 33.9291666667, 'lng': -78.07472222220001},
 {'wban': 3722, 'lat': 36.284722222199996, 'lng': -78.9841666667},
 {'wban': 3723, 'lat': 35.582222222199995, 'lng': -79.1011111111},
 {'wban': 3725, 'lat': 38.9941666667, 'lng': -79.1441666667},
 {'wban': 3726, 'lat': 39.0083333333, 'lng': -74.9080555556},
 {'wban': 3727, 'lat': 34.975555555599996, 'lng': -78.3644444444},
 {'wban': 3728, 'lat': 33.1533333333, 'lng': -79.3636111111},
 {'wban': 3730, 'lat': 37.2391666667, 'lng': -76.71611111109999},
 {'wban': 3731, 'lat': 36.0233333333, 'lng': -78.33027777779999},
 {'wban': 3732, 'lat': 39.6, 'lng': -78.7666666667},
 {'wban': 3733, 'lat': 39.0130555556, 'lng': -79.4741666667},
 {'wban': 3734, 'lat': 37.5211111111, 'lng': -76.7647222222},
 {'wban': 3735, 'lat': 38.3980555556, 'lng': -77.4555555556},
 {'wban': 3736, 'lat': 36.0183333333, 'lng': -75.6713888889},
 {'wban': 3737, 'lat': 36.3988888889, 'lng': -76.0163888889},
 {'wban': 3738, 'lat': 34.8911111111, 'lng': -79.7591666667},
 {'wban': 3739, 'lat': 37.2908333333, 'lng': -75.9269444444},
 {'wban': 3741, 'lat': 35.5702777778, 'lng': -77.0497222222},
 {'wban': 3742, 'lat': 34.4658333333, 'lng': -79.8902777778},
 {'wban': 3749, 'lat': 39.645, 'lng': -77.4680555556},
 {'wban': 3755, 'lat': 39.5802777778, 'lng': -79.3394444444},
 {'wban': 3756, 'lat': 38.8041666667, 'lng': -76.0688888889},
 {'wban': 3757, 'lat': 38.1416666667, 'lng': -76.4291666667},
 {'wban': 3758, 'lat': 35.9705555556, 'lng': -79.0930555556},
 {'wban': 3759, 'lat': 37.9975, 'lng': -78.4655555556},
 {'wban': 3761, 'lat': 39.8591666667, 'lng': -75.7861111111},
 {'wban': 3763, 'lat': 36.4372222222, 'lng': -79.8511111111},
 {'wban': 3802, 'lat': 39.2955555556, 'lng': -80.2288888889},
 {'wban': 3804, 'lat': 39.3394444444, 'lng': -81.4438888889},
 {'wban': 3809, 'lat': 36.0002777778, 'lng': -89.40944444440001},
 {'wban': 3811, 'lat': 35.593055555599996, 'lng': -88.9166666667},
 {'wban': 3813, 'lat': 32.6847222222, 'lng': -83.6527777778},
 {'wban': 3814, 'lat': 36.9666666667, 'lng': -84.1333333333},
 {'wban': 3815, 'lat': 30.4833333333, 'lng': -87.35},
 {'wban': 3816, 'lat': 37.0683333333, 'lng': -88.7719444444},
 {'wban': 3817, 'lat': 36.6, 'lng': -89.9833333333},
 {'wban': 3820, 'lat': 33.3644444444, 'lng': -81.9633333333},
 {'wban': 3822, 'lat': 32.1313888889, 'lng': -81.2025},
 {'wban': 3838, 'lat': 38.9833333333, 'lng': -89.1666666667},
 {'wban': 3840, 'lat': 30.5333333333, 'lng': -87.2},
 {'wban': 3844, 'lat': 30.65, 'lng': -86.53333333329999},
 {'wban': 3847, 'lat': 35.9508333333, 'lng': -85.08138888890001},
 {'wban': 3849, 'lat': 37.0872222222, 'lng': -84.0769444444},
 {'wban': 3850, 'lat': 31.2666666667, 'lng': -85.71666666670001},
 {'wban': 3852, 'lat': 30.4166666667, 'lng': -86.6833333333},
 {'wban': 3853, 'lat': 30.4, 'lng': -81.4166666667},
 {'wban': 3855, 'lat': 30.35, 'lng': -87.3166666667},
 {'wban': 3856, 'lat': 34.6438888889, 'lng': -86.78611111110001},
 {'wban': 3858, 'lat': 33.9666666667, 'lng': -80.8},
 {'wban': 3859, 'lat': 37.2977777778, 'lng': -81.2036111111},
 {'wban': 3860, 'lat': 38.3652777778, 'lng': -82.5547222222},
 {'wban': 3865, 'lat': 37.75, 'lng': -89.0},
 {'wban': 3866, 'lat': 32.55, 'lng': -88.5666666667},
 {'wban': 3867, 'lat': 39.85, 'lng': -83.8333333333},
 {'wban': 3870, 'lat': 34.8830555556, 'lng': -82.22027777779999},
 {'wban': 3872, 'lat': 37.7836111111, 'lng': -81.1230555556},
 {'wban': 3874, 'lat': 32.3666666667, 'lng': -84.8},
 {'wban': 3875, 'lat': 31.883333333299998, 'lng': -81.5666666667},
 {'wban': 3876, 'lat': 30.4333333333, 'lng': -86.9333333333},
 {'wban': 3877, 'lat': 38.65, 'lng': -97.8},
 {'wban': 3878, 'lat': 31.860555555599998, 'lng': -86.0122222222},
 {'wban': 3879, 'lat': 38.65, 'lng': -88.96666666670001},
 {'wban': 3881, 'lat': 32.9, 'lng': -87.25},
 {'wban': 3882, 'lat': 30.2119444444, 'lng': -85.6827777778},
 {'wban': 3887, 'lat': 39.8344444444, 'lng': -88.8655555556},
 {'wban': 3888, 'lat': 33.7791666667, 'lng': -84.5213888889},
 {'wban': 3889, 'lat': 37.5908333333, 'lng': -83.3130555556},
 {'wban': 3893, 'lat': 39.1333333333, 'lng': -86.6166666667},
 {'wban': 3894, 'lat': 36.6238888889, 'lng': -87.4194444444},
 {'wban': 3896, 'lat': 33.9666666667, 'lng': -86.0833333333},
 {'wban': 3901, 'lat': 32.3847222222, 'lng': -94.7116666667},
 {'wban': 3914, 'lat': 32.95, 'lng': -111.7666666667},
 {'wban': 3923, 'lat': 37.6166666667, 'lng': -97.2666666667},
 {'wban': 3927, 'lat': 32.8977777778, 'lng': -97.0188888889},
 {'wban': 3928, 'lat': 37.6544444444, 'lng': -97.4425},
 {'wban': 3929, 'lat': 38.8438888889, 'lng': -94.56027777780001},
 {'wban': 3930, 'lat': 34.9166666667, 'lng': -92.15},
 {'wban': 3932, 'lat': 35.3566666667, 'lng': -99.2041666667},
 {'wban': 3933, 'lat': 31.133333333299998, 'lng': -97.71666666670001},
 {'wban': 3934, 'lat': 30.0333333333, 'lng': -91.8833333333},
 {'wban': 3935, 'lat': 37.2252777778, 'lng': -89.5705555556},
 {'wban': 3936, 'lat': 39.1347222222, 'lng': -96.67888888889999},
 {'wban': 3937, 'lat': 30.125, 'lng': -93.2158333333},
 {'wban': 3938, 'lat': 37.75, 'lng': -92.15},
 {'wban': 3939, 'lat': 31.0666666667, 'lng': -92.5},
 {'wban': 3940, 'lat': 32.3205555556, 'lng': -90.07777777780001},
 {'wban': 3943, 'lat': 32.85, 'lng': -98.05},
 {'wban': 3944, 'lat': 32.7833333333, 'lng': -98.2666666667},
 {'wban': 3945, 'lat': 38.8169444444, 'lng': -92.2183333333},
 {'wban': 3947, 'lat': 39.2972222222, 'lng': -94.73055555559999},
 {'wban': 3948, 'lat': 35.25, 'lng': -97.46666666670001},
 {'wban': 3949, 'lat': 31.4, 'lng': -93.28333333329999},
 {'wban': 3950, 'lat': 34.5583333333, 'lng': -98.4172222222},
 {'wban': 3953, 'lat': 35.8311111111, 'lng': -90.64638888889999},
 {'wban': 3954, 'lat': 35.5341666667, 'lng': -97.6469444444},
 {'wban': 3957, 'lat': 37.2838888889, 'lng': -98.5527777778},
 {'wban': 3958, 'lat': 38.8833333333, 'lng': -90.05},
 {'wban': 3959, 'lat': 36.7683333333, 'lng': -96.02611111110001},
 {'wban': 3961, 'lat': 31.616666666700002, 'lng': -91.28333333329999},
 {'wban': 3962, 'lat': 34.29, 'lng': -93.06},
 {'wban': 3963, 'lat': 38.5911111111, 'lng': -92.1558333333},
 {'wban': 3965, 'lat': 36.1625, 'lng': -97.0894444444},
 {'wban': 3966, 'lat': 38.6572222222, 'lng': -90.6558333333},
 {'wban': 3967, 'lat': 38.85, 'lng': -94.7391666667},
 {'wban': 3968, 'lat': 38.85, 'lng': -99.2666666667},
 {'wban': 3970, 'lat': 32.9686111111, 'lng': -96.83638888889999},
 {'wban': 3971, 'lat': 32.6808333333, 'lng': -96.8680555556},
 {'wban': 3972, 'lat': 31.0833333333, 'lng': -97.6833333333},
 {'wban': 3973, 'lat': 36.1666666667, 'lng': -94.1166666667},
 {'wban': 3974, 'lat': 37.7461111111, 'lng': -97.2211111111},
 {'wban': 3976, 'lat': 30.8333333333, 'lng': -93.3333333333},
 {'wban': 3978, 'lat': 36.35, 'lng': -94.21666666670001},
 {'wban': 3981, 'lat': 34.362222222199996, 'lng': -98.97611111110001},
 {'wban': 3985, 'lat': 32.565, 'lng': -97.30805555559999},
 {'wban': 3991, 'lat': 33.2061111111, 'lng': -97.1988888889},
 {'wban': 3996, 'lat': 32.35, 'lng': -91.02777777780001},
 {'wban': 3999, 'lat': 30.7405555556, 'lng': -98.23527777780001},
 {'wban': 4109, 'lat': 46.1441666667, 'lng': -115.5963888889},
 {'wban': 4110, 'lat': 42.7266666667, 'lng': -114.4563888889},
 {'wban': 4111, 'lat': 41.2730555556, 'lng': -111.03055555559999},
 {'wban': 4112, 'lat': 44.1708333333, 'lng': -114.92694444440001},
 {'wban': 4113, 'lat': 45.8258333333, 'lng': -119.2611111111},
 {'wban': 4114, 'lat': 44.522777777799995, 'lng': -114.215},
 {'wban': 4125, 'lat': 44.556111111099995, 'lng': -119.6458333333},
 {'wban': 4126, 'lat': 43.462222222200005, 'lng': -113.55611111110001},
 {'wban': 4127, 'lat': 43.204444444399996, 'lng': -116.75055555559999},
 {'wban': 4128, 'lat': 43.471111111099994, 'lng': -119.6916666667},
 {'wban': 4129, 'lat': 48.299444444399995, 'lng': -116.56},
 {'wban': 4130, 'lat': 48.7411111111, 'lng': -113.43305555559999},
 {'wban': 4131, 'lat': 43.66138888890001, 'lng': -110.7119444444},
 {'wban': 4133, 'lat': 40.4819444444, 'lng': -111.42888888889999},
 {'wban': 4134, 'lat': 40.1605555556, 'lng': -113.3508333333},
 {'wban': 4135, 'lat': 43.7425, 'lng': -111.0975},
 {'wban': 4136, 'lat': 47.4175, 'lng': -117.52638888889999},
 {'wban': 4137, 'lat': 45.1580555556, 'lng': -113.0058333333},
 {'wban': 4138, 'lat': 41.6163888889, 'lng': -112.5436111111},
 {'wban': 4139, 'lat': 41.8483333333, 'lng': -119.6358333333},
 {'wban': 4140, 'lat': 46.884722222200004, 'lng': -110.2894444444},
 {'wban': 4141, 'lat': 43.2716666667, 'lng': -124.31861111110001},
 {'wban': 4201, 'lat': 45.772777777799995, 'lng': -122.8611111111},
 {'wban': 4205, 'lat': 48.160555555600006, 'lng': -122.1588888889},
 {'wban': 4222, 'lat': 40.6508333333, 'lng': -122.60666666670001},
 {'wban': 4223, 'lat': 48.5405555556, 'lng': -121.44611111110001},
 {'wban': 4224, 'lat': 48.7083333333, 'lng': -122.9105555556},
 {'wban': 4236, 'lat': 44.4186111111, 'lng': -123.3258333333},
 {'wban': 4237, 'lat': 47.513888888900006, 'lng': -123.81194444440001},
 {'wban': 4720, 'lat': 42.15, 'lng': -79.25},
 {'wban': 4725, 'lat': 42.199722222199995, 'lng': -75.985},
 {'wban': 4726, 'lat': 40.3161111111, 'lng': -78.8338888889},
 {'wban': 4727, 'lat': 42.75, 'lng': -76.9},
 {'wban': 4728, 'lat': 43.1, 'lng': -78.95},
 {'wban': 4741, 'lat': 42.85, 'lng': -73.95},
 {'wban': 4742, 'lat': 44.65, 'lng': -73.46666666670001},
 {'wban': 4743, 'lat': 43.0833333333, 'lng': -70.8166666667},
 {'wban': 4751, 'lat': 41.8, 'lng': -78.6333333333},
 {'wban': 4769, 'lat': 42.4166666667, 'lng': -71.4833333333},
 {'wban': 4779, 'lat': 42.5666666667, 'lng': -71.6},
 {'wban': 4781, 'lat': 40.7938888889, 'lng': -73.10194444439999},
 {'wban': 4782, 'lat': 42.8333333333, 'lng': -73.9166666667},
 {'wban': 4783, 'lat': 40.1833333333, 'lng': -74.1166666667},
 {'wban': 4787, 'lat': 41.1794444444, 'lng': -78.89333333329999},
 {'wban': 4789, 'lat': 41.509166666700004, 'lng': -74.265},
 {'wban': 4803, 'lat': 45.631388888900005, 'lng': -89.4822222222},
 {'wban': 4805, 'lat': 41.5666666667, 'lng': -81.4833333333},
 {'wban': 4806, 'lat': 41.7166666667, 'lng': -85.9833333333},
 {'wban': 4807, 'lat': 41.6166666667, 'lng': -87.4166666667},
 {'wban': 4808, 'lat': 41.77, 'lng': -88.4813888889},
 {'wban': 4813, 'lat': 40.7666666667, 'lng': -80.4},
 {'wban': 4825, 'lat': 44.2666666667, 'lng': -88.5166666667},
 {'wban': 4826, 'lat': 44.3591666667, 'lng': -89.8369444444},
 {'wban': 4827, 'lat': 40.1333333333, 'lng': -80.28333333329999},
 {'wban': 4828, 'lat': 40.1166666667, 'lng': -85.6166666667},
 {'wban': 4829, 'lat': 43.4333333333, 'lng': -83.8666666667},
 {'wban': 4831, 'lat': 41.6044444444, 'lng': -88.0847222222},
 {'wban': 4838, 'lat': 42.1208333333, 'lng': -87.9047222222},
 {'wban': 4839, 'lat': 42.7461111111, 'lng': -86.0966666667},
 {'wban': 4840, 'lat': 43.769444444399994, 'lng': -88.4908333333},
 {'wban': 4841, 'lat': 43.769444444399994, 'lng': -87.8505555556},
 {'wban': 4842, 'lat': 40.8730555556, 'lng': -81.8866666667},
 {'wban': 4843, 'lat': 41.626388888899996, 'lng': -80.215},
 {'wban': 4846, 'lat': 41.4525, 'lng': -87.0058333333},
 {'wban': 4847, 'lat': 41.8677777778, 'lng': -84.0794444444},
 {'wban': 4848, 'lat': 41.5630555556, 'lng': -83.4763888889},
 {'wban': 4849, 'lat': 41.3461111111, 'lng': -82.17944444439999},
 {'wban': 4851, 'lat': 41.3375, 'lng': -84.4288888889},
 {'wban': 4853, 'lat': 41.5175, 'lng': -81.68361111109999},
 {'wban': 4858, 'lat': 40.0227777778, 'lng': -82.4625},
 {'wban': 4862, 'lat': 40.1583333333, 'lng': -89.3347222222},
 {'wban': 4863, 'lat': 44.9863888889, 'lng': -85.2030555556},

In [20]:
# tempDataList = [{'lat': 39.7612992, 'lon': -86.1519681}, 
#                 {'lat': 39.762241,  'lon': -86.158436 }, 
#                 {'lat': 39.7622292, 'lon': -86.1578917}]

# v = {'lat': 39.7622290, 'lon': -86.1519750}
# print(closest(tempDataList, v))
closests =[]
stations = {}
for _, park in park_coords.iterrows():
    coord = {'lat': park['Latitude'], 'lng': park['Longitude']}
    c = closest(coords, coord)
    wban = c['wban']
    closests.append(wban)
    if not wban in stations:
        stations[wban] = {'lat': c['lat'], 'lng': c['lng']}
closests

[24166,
 23192,
 23172,
 53918,
 3962,
 53146,
 3029,
 63895,
 46404,
 26546,
 25521,
 25316,
 94928,
 4743,
 53152,
 94966,
 24006,
 63890,
 96401,
 14616,
 93197,
 26542,
 21510,
 166,
 4222,
 3061,
 93075,
 24237,
 26438,
 12923,
 93091,
 3872,
 94173,
 54739,
 63844,
 93198,
 53150,
 94173,
 22525,
 93197,
 53149,
 93032,
 92827,
 93065,
 3077,
 94041,
 63811,
 53978,
 4236,
 23157,
 13876,
 94173,
 53870,
 22521,
 92809,
 94866,
 54912,
 24152,
 24230,
 3065,
 3065,
 13891,
 3802,
 12871,
 12841,
 63885,
 14894,
 63813,
 13731,
 14777,
 3974,
 22526,
 3858,
 21510,
 24153,
 3040,
 94823,
 12841,
 13983,
 12853,
 53877,
 24238,
 94163,
 24283,
 94173]

In [21]:
len(closests)

85

In [22]:
with open('./Results/stations.json', 'w', encoding='utf-8') as f:
    json.dump(stations, f, ensure_ascii=False, indent=4)

In [23]:
len(stations)

78

In [30]:
park_details['wban'] = closests
park_details

                         name   latitude   longitude   wban
0                Jackson Hole  43.582767 -110.821999  24166
1    Mojave National Preserve  35.141689 -115.510399  23192
2   Joshua Tree National Park  33.881866 -115.900650  23172
3      Buffalo National River  35.985512  -92.757652  53918
4   Hot Springs National Park  34.521530  -93.042267   3962
..                        ...        ...         ...    ...
80  Mount Mitchell State Park  35.768803  -82.306137  53877
81   Mt. Hood National Forest  45.454350 -121.933136  24238
82                Island Park  44.429733 -111.440849  94163
83      Redwood National Park  41.213181 -124.004631  24283
84  Yellowstone National Park  44.423691 -110.588516  94173

[85 rows x 4 columns]

In [31]:
park_details.to_json(path_or_buf="./Results/parks.json")

Now we run the following query on the Google Cloud Platform's BigQuery gsod sample dataset, which can be found here:
https://console.cloud.google.com/bigquery?p=bigquery-public-data&d=samples&t=gsod&page=table&_ga=2.193870957.-1150284291.1573724531

```
SELECT wban_number, month, 
    AVG(mean_temp) as avg_temp, 
    AVG(mean_visibility) as avg_visability, 
    AVG(mean_wind_speed) as avg_wind_speed, 
    AVG(total_precipitation) as avg_precipitation, 
    AVG(snow_depth) as avg_snow_depth
FROM `bigquery-public-data.samples.gsod` 
WHERE wban_number = 24166
    OR wban_number = 23192
    OR wban_number = 23172
    OR wban_number = 53918
    OR wban_number = 3962
    OR wban_number = 53146
    OR wban_number = 3029
    OR wban_number = 63895
    OR wban_number = 46404
    OR wban_number = 26546
    OR wban_number = 25521
    OR wban_number = 25316
    OR wban_number = 94928
    OR wban_number = 4743
    OR wban_number = 53152
    OR wban_number = 94966
    OR wban_number = 24006
    OR wban_number = 63890
    OR wban_number = 96401
    OR wban_number = 14616
    OR wban_number = 93197
    OR wban_number = 26542
    OR wban_number = 21510
    OR wban_number = 166
    OR wban_number = 4222
    OR wban_number = 3061
    OR wban_number = 93075
    OR wban_number = 24237
    OR wban_number = 26438
    OR wban_number = 12923
    OR wban_number = 93091
    OR wban_number = 3872
    OR wban_number = 94173
    OR wban_number = 54739
    OR wban_number = 63844
    OR wban_number = 93198
    OR wban_number = 53150
    OR wban_number = 94173
    OR wban_number = 22525
    OR wban_number = 93197
    OR wban_number = 53149
    OR wban_number = 93032
    OR wban_number = 92827
    OR wban_number = 93065
    OR wban_number = 3077
    OR wban_number = 94041
    OR wban_number = 63811
    OR wban_number = 53978
    OR wban_number = 4236
    OR wban_number = 23157
    OR wban_number = 13876
    OR wban_number = 94173
    OR wban_number = 53870
    OR wban_number = 22521
    OR wban_number = 92809
    OR wban_number = 94866
    OR wban_number = 54912
    OR wban_number = 24152
    OR wban_number = 24230
    OR wban_number = 3065
    OR wban_number = 3065
    OR wban_number = 13891
    OR wban_number = 3802
    OR wban_number = 12871
    OR wban_number = 12841
    OR wban_number = 63885
    OR wban_number = 14894
    OR wban_number = 63813
    OR wban_number = 13731
    OR wban_number = 14777
    OR wban_number = 3974
    OR wban_number = 22526
    OR wban_number = 3858
    OR wban_number = 21510
    OR wban_number = 24153
    OR wban_number = 3040
    OR wban_number = 94823
    OR wban_number = 12841
    OR wban_number = 13983
    OR wban_number = 12853
    OR wban_number = 53877
    OR wban_number = 24238
    OR wban_number = 94163
    OR wban_number = 24283
    OR wban_number = 94173
GROUP BY wban_number, month
ORDER BY wban_number, month;
```

#### Here's the output:

In [26]:
results_df = pd.read_json("./Resources/results.json")
results_df

,wban_number,month,avg_temp,avg_visability,avg_wind_speed,avg_precipitation,avg_snow_depth
0,166,1,79.015982,NaN,6.690639,0.000000,NaN
1,166,2,78.730843,NaN,6.536627,0.000000,NaN
2,166,3,76.754608,NaN,6.790553,0.000000,NaN
3,166,4,72.855000,NaN,6.410000,0.000000,NaN
4,166,5,66.831336,NaN,5.740092,0.000000,NaN
...,...,...,...,...,...,...,...
801,96401,8,52.817241,23.234483,4.521429,0.189600,NaN
802,96401,9,45.682758,24.848276,4.472414,0.083077,NaN
803,96401,10,35.756667,24.546667,4.723333,0.085200,NaN
804,96401,11,16.477778,15.988889,7.744444,0.079259,NaN
805,96401,12,14.565517,18.227586,6.379310,0.075849,NaN

In [27]:
results_df.fillna(value = 0, inplace = True)
results_df

,wban_number,month,avg_temp,avg_visability,avg_wind_speed,avg_precipitation,avg_snow_depth
0,166,1,79.015982,0.000000,6.690639,0.000000,0.0
1,166,2,78.730843,0.000000,6.536627,0.000000,0.0
2,166,3,76.754608,0.000000,6.790553,0.000000,0.0
3,166,4,72.855000,0.000000,6.410000,0.000000,0.0
4,166,5,66.831336,0.000000,5.740092,0.000000,0.0
...,...,...,...,...,...,...,...
801,96401,8,52.817241,23.234483,4.521429,0.189600,0.0
802,96401,9,45.682758,24.848276,4.472414,0.083077,0.0
803,96401,10,35.756667,24.546667,4.723333,0.085200,0.0
804,96401,11,16.477778,15.988889,7.744444,0.079259,0.0
805,96401,12,14.565517,18.227586,6.379310,0.075849,0.0

In [28]:
results_df.to_json(path_or_buf="./Results/weather.json")